[submodule "third_party/tiny-cuda-nn"]
	path = third_party/tiny-cuda-nn
	url = git@github.com:NVlabs/tiny-cuda-nn.git
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = git@github.com:Tom94/eigen.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = git@github.com:Tom94/pybind11.git
[submodule "third_party/tinylogger"]
	path = third_party/tinylogger
	url = git@github.com:Tom94/tinylogger.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third_party/args"]
	path = third_party/args
	url = git@github.com:Taywee/args.git
